[package]
name = "inference"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["lib"]

[dependencies]
# alloc is part of the standard library, accessed via extern crate alloc
micromath = "2.1"

[features]
default = []
no_std = []
